h2 { padding-bottom: .5em; border-bottom: 1px solid black; }
.controls { padding: .5em 0; margin-top: 1em; }
.link { cursor: pointer; color: blue; text-decoration: underline; }
.controls span, .controls input[type=submit] { cursor: pointer; color: blue; font-weight: bold; padding: .3em .6em; border: 1px solid black; border-radius: .5em; background-color: white;}
.controls span:hover, .controls input[type=submit]:hover { background-color: black; color: yellow; }
table { border-spacing: 0; }
th, td { padding: 5px 10px }
thead th { border-bottom: 4px solid black; text-align: left; }
tbody th { text-align: right; border-bottom: 1px solid gray; vertical-align: top; }
tbody td { border-bottom: 1px solid gray; }
th { background-color: black; color: white; }
ul.errorlist { margin: 0; padding: 0; list-style: none; }
ul.errorlist li { margin-bottom: 5px; color: red; font-weight: bold; }